<section class="d-flex">
    <div class="container">
        <div>
            <img src="" alt="">
        </div>
        
    </div>
    <div>
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Usuário</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
</div>
    </section>
    git config --global user.email "jeffersoncl200@gmail.com"
  git config --global user.name "JeffersonCarlosLima"